{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block content %}
    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Login Form-->
            <form method="post">
                {% csrf_token %}
                
                {{ form.errors }}
                {{ form.username|placeholder:"Email" }}
                {{ form.password|placeholder:"Password" }}

                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
    <!-- End Login Section-->
{% endblock %}