{% extends 'common/base.html' %}
{% block content %}

    <!-- Start Edit Profile Section -->
    <div class="edit-delete">
        <h2>Edit Profile</h2>

        <!-- Start Edit Profile From -->
        <form method="post">
            {% csrf_token %}

            {% for field in form %}

                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>

            {% endfor %}

            <!-- Edit Profile Button -->
            <button class="edit-btn" type="submit">Edit</button>

        </form>
        <!-- End Edit Profile Form -->

    </div>
    <!-- End Edit Profile Section -->
{% endblock %}