{% extends 'common/base.html' %}
{% load static %}

{% block content %}
      <div class="profile">
        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
          <div class="profile_img">
            <div class="image">
              <!-- Profile Image -->
                {% if object.profile.profile_picture %}
                    <img src="{{ object.profile.profile_picture }}" alt="img8" />
                {% else %}
                 <img src="{% static 'images/person.png' %}" alt="img8" />
                {% endif %}
            </div>
          </div>
          <div class="personal">
            <div class="edit">
              <!-- User Username -->
              <p>{{ photo.user.profile.get_full_name }}</p>

              <!-- IF the viewer is the owner of the profile -->
              <!-- Link to Edit Profile Page -->
                {% if request.user.pk == object.pk %}
                  <a href="{% url 'profile-edit' request.user.pk %}">
                    <img
                      class="edit-img"
                      src="{% static 'images/edit-pen-icon-6.jpg' %}"
                      alt="edit button"
                    />
                  </a>
    
                  <!-- Link to Delete Profile Page -->
                  <a href="">
                    <img
                      class="bin-img"
                      src="{% static 'images/icon-remove-22.jpg' %}"
                      alt="bin button"
                    />
                  </a>
                  {% endif %}
                  <!-- End IF the viewer is the owner of the profile -->
                </div>
            <div class="data">
              <!-- Total Number of Photos by the User -->
              <span>{{ total_photos_count }}</span>
              <p>photos</p>

              <!-- Total Number of Pets owned by the User -->
              <span>{{ total_pets_count }}</span>
              <p>pets</p>

              <!-- Total Number of Likes for the User -->
              <span>{{ total_likes_count }}</span>
              <p>likes</p>
            </div>
            <!-- User First and Last Name IF Added -->
            <h3 class="names">{{ object.profile.get_full_name }}</h3>

            <!-- User Email Address -->
            <p class="email">{{ object.email }}</p>
          </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
          <div class="statuses">
            {% for pet in object.pet_set.all %}
                <a href="{% url 'pet-details' object.profile.get_full_name pet.slug %}">
                  <div class="head-pet">
                    <div class="status">
                      <div class="image">
                        <!-- Pet Image -->
                        <img
                          src="{{ pet.personal_photo }}"
                          alt="pet img"
                        />
                      </div>
                    </div>
                    <!-- Pet Name -->
                    <p>{{ pet.name }}</p>
                  </div>
                </a>
                <!-- End 1st Pet Details Page -->
              {% endfor %}
          </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
          <!-- Link to Last Uploaded Pet Photo -->
        {% for photo in object.photo_set.all %}
          <a href="{% url 'photo-details' photo.pk %}">
            <!-- Pet Photo -->
            <img
              src="{{ photo.photo.url }}"
              alt="pet img"
            />
          </a>
        {% empty %}
            <img
              class="no-posts"
              src="{% static 'images/no_posts.png' %}"
              alt="no posts"
            />
        {% endfor %}
        </div>
      </div>
{% endblock %}